fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
pydantic
pydantic-settings
alembic
datasets
langchain-text-splitters
google-genai
qdrant-client
langchain
langchain-core
langchain-google-genai
langchain-groq
langsmith
mcp